<tr>
                            
    <td>
        <%= link_to user.identifiacion, user_notas_path(user) %>
    </td>
    <td>
        <%= user.nombres%>
    </td>

    <td>
        <%= user.apellidos %>
    </td>

    <td>
        <%= user.email %>
    </td> 

    <td>
        <%= user.direccion %>
    </td>
    <td>
        <%= link_to  "Anotaciones", user_anotaciones_path(user), class: "btn btn-danger btn-sm btn-block" %>
    </th>                  
</tr> 