<tr>
                            
    <td>
        <%= link_to user.identificacion, user_notas_path(user) %>
    </td>
    <td>
        <%= user.primer_nombre%>
    </td>

    <td>
        <%= user.segundo_nombre%>
    </td>

    <td>
        <%= user.primer_apellido %>
    </td>

    <td>
        <%= user.segundo_apellido %>
    </td>

    <td>
        <%= user.email %>
    </td> 

    <td>
        <%= user.direccion %>
    </td>
    <td>
        <%= link_to  "Anotaciones", user_anotaciones_path(user), class: "btn btn-danger btn-sm btn-block" %>
    </th>                  
</tr> 