<h1>Todas las notas</h1>

<%= pie_chart @grafica_notas %>
<div class="col-md-4 mb-2">
  <div class="row">
   <% if current_user.has_role? :admin %>
    <div class="col">
      <%= link_to new_user_nota_path(@user,@nota), class: "btn btn-info btn-block" do %>
        Nueva nota
        <%= fa_icon "plus" %>
      <% end %>
    </div>
   <%end%>
    <div class="col">
      <%= link_to user_notas_path(format: 'xlsx'), class: "btn btn-primary btn-block" do %>
        <i class="fas fa-file-excel"></i>
         Generar Excel
      <% end %>
    </div>
 
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="card card-shadow">
      <div class="card-body">
        <div class="box">
          <div class="table-responsive">
            <table id="notas" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Logro</th>
                    <th>Nota</th>
                    <th class="text-success">Mostrar</th>
                    <th class="text-warning">Editar</th>
                    <th class="text-danger">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                    <%= render @notas %>
              </tbody>            
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>