<h4>Ten un excelente dia,
  <%= @user.nombres %> <b></b> <%= @user.apellidos %>.
</h4>
<br>
<p>
  Una nueva anotación ha sido creada a nombre de: <strong><%= @user.nombres %> <b></b> <%= @user.apellidos %></strong>
  Dentro del sistema de Seguimiento al estudiante, con título
  <strong> <%= @anotacion.titulo %> </strong>, Favor verificala y tienes oportunidad comentala dentro de la aplicación, en el boton comentario,de realizar tu apresiación de la situación, agradecemos tus comentarios.
</p>
<p>
  Gracias por hacer parte de la familia <strong>NEOPA</strong><br> Ten un excelente día
</p>
