<h3>Materias del Docente <%= @usuario.nombre %>  <%= @usuario.apellido %></h3>
<%= link_to new_usuario_materia_path(@usuario,@materia), class: "btn btn-info btn-sm mb-3" do %>
  Nueva Materia
  <%= fa_icon "plus" %>
<% end %>

<table class="table">
  <tr>
    <th>Codigo</th>
     <th>Nombre</th>
     <th>Acciones</th>
  </tr>


  <%= render @materias %>


</table>