<div class="row">
  <div class="col-md-6 m-auto">
    <%= simple_form_for [@usuario, @anotacion] do |f| %>
      <%= f.input :fecha %>
      <%= f.input :titulo %>
      <%= f.input :contenido %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>