<h3>Anotaciones del Alumno(a) <%= @usuario.nombre %>  <%= @usuario.apellido %></h3>
<%= link_to new_usuario_anotacion_path(@usuario,@anotacion), class: "btn btn-info btn-sm mb-3" do %>
  Nueva Anotacion
  <%= fa_icon "plus" %>
<% end %>

<table class="table">
  <tr>
    <th>Fecha</th>
     <th>Anotacion</th>
     <th>Acciones</th>
  </tr>


  <%= render @anotaciones %>


</table>
