<ul class="navbar-nav bg-gradient-dark navbar-static-side sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"> NEOPA</div>


  </a>

  <div class="sidebar-brand-text mx-3">
    <h5 class="nav-link text-white ml-4">
      <%= current_user.nombre  %> <%= current_user.apellido  %>
    </h5>
  </div>


  <!-- Divider -->
  <hr class="sidebar-divider my-0">



  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

   <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fa fa-plus" aria-hidden="true"></i>

        <span>Usuarios</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Usuarios:</h6>
          <%= link_to  "Listar usuarios", users_path, class:'collapse-item'  %>
          <%= link_to  "crear usuario", new_user_path, class: 'collapse-item'  %>
          
        </div>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCurso" aria-expanded="true" aria-controls="collapseCurso">
        <i class="fa fa-plus" aria-hidden="true"></i>

        <span>Cursos</span>
      </a>
      <div id="collapseCurso" class="collapse" aria-labelledby="headingCurso" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Cursos:</h6>
           <%= link_to  "Crear curso", new_curso_path, class:'collapse-item'  %>
           <%= link_to  "Cursos", cursos_path, class:'collapse-item'  %>
           
          <%@cursos.each do |curso| %>
            <%= link_to  curso.nombre, curso_path(curso), class:'collapse-item'  %>
          <%end %>
          
         
          
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Rol -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRole" aria-expanded="true" aria-controls="collapseRole">
        <i class="fa fa-plus" aria-hidden="true"></i>

        <span>Roles</span>
      </a>
      <div id="collapseRole" class="collapse" aria-labelledby="headingRole" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Rol:</h6>
          <%= link_to  "Listar Roles", roles_path, class:'collapse-item'  %>
          <%= link_to  "crear usuario", new_role_path, class: 'collapse-item'  %>
          
        </div>
      </div>
    </li>


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNoticia" aria-expanded="true" aria-controls="collapseNoticia">
      <i class="fa fa-newspaper" aria-hidden="true"></i>

      <span>Noticias</span>
    </a>
    <div id="collapseNoticia" class="collapse" aria-labelledby="headingNotiicia" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Noticias Estudiantiles:</h6>
        <%= link_to  "Nueva noticia", new_articulo_path, class:'collapse-item' %>
        <%= link_to  "Ultimas noticias", articulos_path, class:'collapse-item' %>


      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseusers" aria-expanded="true" aria-controls="collapseusers">
      <i class="fa fa-user" aria-hidden="true"></i>

      <span>users</span>
    </a>
    <div id="collapseusers" class="collapse" aria-labelledby="headingusers" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Información:</h6>
        <%= link_to  "Estudiantes", users_indexStudent_path, class:'collapse-item' %>
        <%= link_to  "Docentes", users_indexDocente_path, class:'collapse-item' %>


      </div>
    </div>
  </li>





</ul>
