<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <<!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="logo">
        <h3>Nuestro Escudo y Bandera</h3> <br>
      <%= image_tag("escudo.png", :alt => "Escudo", :style => "width: 400px; height: 400px; margin-left: 4pc;")%>
      <%= image_tag("bandera.png", :alt => "Bandera", :style => "width: 400px; height: 400px; margin-left: 15pc;")%>
  </div>
  <div class="lema">
    <h3>Nuestro Himno</h3>
    <p id="Himno">HIMNO DEL COLEGIO ALFRED NOBEL <br>
    CON GRAN ENTUSIASMO MARCHEMOS TODOS <br>
    POR LA RECTA QUE INDICA EL SABER <br>
    QUE EL COLEGIO ALFRED NOBEL <br>
    NOS OFRECE A TODOS <br>
    PARA QUE LOGREMOS UN MEJOR CRECER (2) <br>
    <br>
    (CORO) <br>
    TU ERES EL CRISOL DE MI FORMACIÓN <br>
    DE TI APRENDI RESPETO Y AMOR <br>
    VALORES Y FE, CIENCIA, EDUCACIÓN <br>
    BASE PRINCIPAL <br>
    PARA TRIUNFAR. <br>
    <br>
    NUESTROS GUIAS NOS BRINDAN PACIENCIA Y LEALTAD <br>
    MUCHA COMPRENSIÓN NOS DAN LIBERTAD <br>
    POR ESO LAS GRACIAS DAMOS AL CREADOR <br>
    Y ROGAMOS SIEMPRE GUARDE ESTE COLEGIO <br>
    EN TODA OCASIÓN (2) <br>
    <br>
    (CORO) <br>
    TU ERES EL CRISOL DE MI FORMACIÓN <br>
    DE TI APRENDI RESPETO Y AMOR <br>
    VALORES Y FE, CIENCIA, EDUCACIÓN <br>
    BASE PRINCIPAL <br>
    PARA TRIUNFAR. <br>
    <br>
    MOSTRAREMOS CADA DIA LA CREATIVIDAD <br>
    PARA NUESTRO LEMA SIEMPRE RESALTAR <br>
    BUENA EDUCACIÓN ES BASE FUNDAMENTAL <br>
    DE BUENA CULTURA PARA ASI MOSTRARLA A LA SOCIEDAD (2).</p> <br>
  </div>
  </body>
</html>
