

  <%= link_to new_user_anotacion_path(@user,@anotacion), class: "btn btn-info btn-sm mb-3" do %>
    Registrar Anotacion
    <%= fa_icon "plus" %>
  <% end %>

   <%= link_to new_user_materia_path(@user,@materia), class: "btn btn-info btn-sm mb-3" do %>
    Registrar Materia
    <%= fa_icon "plus" %>
  <% end %>



<div class="container">
  <div class="row">
    <div class="col-12 my-3 pt-3 shadow" style="width: 200px; height: 300%;">
      <div style="width: 200px; height: 300px; float: left;">
        <%= image_tag  @user.picture.thumb.url, class:'float-left', :style=>"width:200px;height:100%" %>
      </div>

      <div style="position: absolute; left: 400px;">

        <p>Identificación: <strong><%= @user.identificacion %></strong></p>
        <p>Nombre: <strong><%= @user.nombre %></strong></p>
        <p>Apellido: <strong><%= @user.apellido %></strong></p>
        <p>Telefono: <strong><%= @user.telefono %></strong></p>
        <p>Dirección: <strong><%= @user.direccion %></strong></p>
        <p>Correo: <strong><%= @user.email %></strong></p>

      </div>


    </div>
  </div>
</div>



          <%= link_to  "Anotaciones", user_anotaciones_path(@user), class: "btn  btn-primary ml-1"  %>
          <%= link_to  "Materias", user_materias_path(@user), class: "btn  btn-primary ml-1"  %>
