
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4 mx-auto">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3><span>Detalles del perfil</span></h3>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        
                         <%= image_tag @user.avatar.thumb.url,class: "img-fluid ml-4 mb-2", :style=> " border-radius: 50%; "%>
                    </div>
                    <div class="ibox-content profile-content">
                        <h4 class="text-capitalize"><strong><%=@user.nombres%> <%=@user.apellidos%></strong></h4>
                        <p><i class="fas fa-map-marker-alt"></i> <%=@user.direccion%></p>
                        <p><i class="fas fa-phone-alt"></i> <%=@user.telefono%></p>
                        <p><i class="fas fa-envelope"></i> <%=@user.email%></p>
                        <h5>
                            Acción
                        </h5>
                        <div class="row">
                            <div class="col">           
                                <%= link_to  edit_user_path(@user), class: "btn btn-sm btn-warning btn-block" do %>
                                    <%= fa_icon "pencil-alt" %>
                                    Editar
                                <% end %>
                            </div>
                            <div class="col">
                                <%= link_to  user_anotaciones_path(@user, @anotacion), class: "btn btn-sm btn-info btn-block" do %>
                                    <i class="fas fa-memory"></i>
                                    Anotaciones
                                <% end %>
                            </div>
                        </div>
                        <!-- <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

