


  <%= link_to new_user_anotacion_path(@user,@anotacion), class: "btn btn-info btn-sm mb-3" do %>
  Registrar Anotacion
  <%= fa_icon "plus" %>
  <% end %>

  <%= link_to new_user_nota_path(@user,@nota), class: "btn btn-info btn-sm mb-3" do %>
  Registrar Nota
  <%= fa_icon "plus" %>
  <% end %>

  <%= link_to new_user_materia_path(@user,@materia), class: "btn btn-info btn-sm mb-3" do %>
  Registrar Materia
  <%= fa_icon "plus" %>
  <% end %>



<div class="row">
  <div class="col-md-7">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="box">
          <h1>Datos del usuario <%= @user.nombre %> <%= @user.apellido %></h1>

          <p>
            <strong>Nombre:</strong>
            <%= @user.nombre %>
          </p>

          <p>
            <strong>Apellido:</strong>
            <%= @user.apellido %>
          </p>

          <p>
            <strong>Direccion:</strong>
            <%= @user.direccion %>
          </p>

          <p>
            <strong>Telefono:</strong>
            <%= @user.telefono %>
          </p>

          <p>
            <strong>Direccion:</strong>
            <%= @user.direccion %>
          </p>


          <%= link_to  "Anotaciones", user_anotaciones_path(@user), class: "btn  btn-primary ml-1"  %>
          <%= link_to  "Notas", user_notas_path(@user), class: "btn  btn-primary ml-1"  %>
          <%= link_to  "Materias", user_materias_path(@user), class: "btn  btn-primary ml-1"  %>
        </div>
      </div>
    </div>
  </div>
</div>
