
<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <div class="card">
      <div class="card-body">
        <div class="box">
          <%= simple_form_for @materia do |a| %>
          <%= a.input :codigo %>
          <%= a.input :nombre %>
          <%= a.association :curso,prompt:"Seleccionar curso", label_method: :nombre%>
          <%= a.association :user,prompt:"Seleccionar docente", :label_method => lambda {|user| "#{user.identificacion} | #{user.primer_nombre} #{user.segundo_nombre} #{user.primer_apellido} #{user.segundo_apellido} "} %>
          </div>
          <%= a.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
