
<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <div class="card">
      <div class="card-body">
        <div class="box">
          <%= simple_form_for @materia do |m| %>
            <%= m.input :codigo %>
            <%= m.input :nombre %>
            <%= m.association :user , label_method: :nombres %>
            <%= m.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>