<h3>Anotaciones del Alumno(a) <%= @user.nombre %>  <%= @user.apellido %></h3>

<div class="col-md-4 mb-2">
  <div class="row">
    <div class="col">
      <%= link_to new_user_anotacion_path(@user,@anotacion), class: "btn btn-info btn-sm" do %>
        Nueva Anotacion
        <%= fa_icon "plus" %>
      <% end %>
    </div>
    <div class="col">
      <%= link_to user_anotaciones_path(format: 'xlsx'), class: "btn btn-success btn-sm" do %>
        <i class="fas fa-file-excel"></i>
        Descargar excel
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="box">
          <div class="table-responsive">
            <table class="table">
              <tr class="thead-dark" >
                <% if @anotaciones.empty? %>
                  <th>Fecha</th>
                  <th>Anotacion</th>
                  <th>Contenido</th>
                <% elsif %>
                  <th>Fecha</th>
                  <th>Anotacion</th>
                  <th>Contenido</th>
                  <th colspan="3">Acciones</th>
                <% end %>
              </tr>
              <%= render @anotaciones %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
