<h2 style="text-align: center;">Cambio de contraseña</h2>
<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
    <img src="https://github.com/matking2001/certgit/blob/master/escudo_colegio.png?raw=true" alt="Logo Colegio Alfred Nobel" width="200" height="200" style="margin: auto;">
    <br>
</div>
<p>Hola! <strong><%= @user.primer_nombre %> <b></b> <%= @user.segundo_nombre %> <b></b> <%= @user.primer_apellido %> <b></b> <%= @user.segundo_apellido %>!</strong></p>

<p> 
Has solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó esto, ignore este correo electrónico.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
<p>
  Gracias por hacer parte de la familia <strong>NEOPA</strong>
</p>

