  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= simple_form_for @articulo do |c| %>
        <%= c.input :titulo %>
        <%= c.input :descripcion %>
        <%= c.input :informacion %>
        <%= c.input :picture %>
        <%= c.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>   
  </div>   